

.homepage-container {
    padding: 10px;
    .filter {
        line-height: 24px;
        font-size: 16px;
    }
    .reset {
        font-size: 18px;
        line-height: 30px;

    }
    .customize-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px; //gap 10px, có 5 items trên 1 row => 4*10 = 40px cần được bớt ở width. 40/5items = 8px => calc trừ đi 8px

        .column {
            width: calc(20% - 8px);

            &:hover {
                box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, .05);
                -webkit-transform: translateY(-0.0625rem);
                transform: translateY(-0.0625rem);
            }

            .wrapper {
                cursor: pointer;
                box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
                border-radius: 0.125rem;
                padding: .3rem;
                line-height: 20px;
                height: 100%;

                .text {
                    padding: 0.5rem 0;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: left;
                    height: 80px;
                    
                }

                .price {
                    text-align: left;
                    font-size: 16px;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-align: left;
                }

            }
        }


        .thumbnail {
            max-height: 200px;
            max-width: 200px;
            margin: 0 auto;
            display: inline-block;

            img {
                max-width: 100%;
                max-height: 100%;
                background-color: white;
                object-fit: contain;
                height: 200px;
                
                
            }
        }

        @media screen and (max-width: 600px) {
            .column {
                flex: unset;
                width: calc(50% - 8px);
                flex-wrap: wrap;
            }
        }

        @media screen and (max-width: 800px) and (min-width: 601px) {
            .column {
                flex: unset;
                width: calc(25% - 8px);
                flex-wrap: wrap;
            }
        }
    }
}